table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    width: 10%;
}
/*td, th:nth-child(2){*/
    /*width: 10%;*/
/*}*/

th {
    background-color: #eee;
}