body{
    margin: 0;
    background: #efefef;
    color: black;
}
a{text-decoration: none;}
ol{padding: 0;}
li{
    list-style: none;
}
/*头部*/
.header{
    position: fixed;
    padding: 20px 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.header .logo{
    float: left;
    font-family: 'Arial Black';
    font-size: 24px;
    padding-top: 3px;
}
.header .logo .rs{
    margin-right: 8px;
    color: #e6686a;
}
.header .logo .card{
    color: #9a9da2;
}
.header .nav{
    float: right;
}
.nav>ul{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.nav>ul>li{
    float: left;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin: 7px 17px 0;
    padding: 4px 0 7px;
    transition: all 0.3s;
}
.nav>ul>li:hover{
    border-bottom: 3px solid #e06567;
    transform:rotate(360deg);
}
.nav>ul>li>a{
    color: #b7b7b7;
    font-weight: 900;
}

.banner{
    background-image: url("./img/banner-img.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.banner>.mask{
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.6);
}

/*内容*/
main{
    margin-top: -300px;
}
main>.card{
    background-color: white;
    max-width: 930px;
    margin: auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
main>.card>.pictureAndText{
    padding: 50px;
    display: flex;
}
main>.card>.pictureAndText>.text{
    margin-left: 70px;
    width: 100%;
}
main>.card .welcome{
    position: relative;
    display: inline-block;
    padding: 4px 16px;
    background-color: #e6686a;
    color: white;
}
main>.card .welcome::before{
    content: '';
    position: absolute;
    width: 0px;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    top: 18px;
    left: 5px
}
main>.card h1{
    font-weight: normal;
    margin: 18px 0 0;
}
main>.card p{
    margin: 0;
}
main>.card dl dt,
main>.card dl dd{
    float: left;
    padding: 5px 0;
}
main>.card dl dt{
    width: 30%;
    font-weight: 900;
}
main>.card dl dd{
    width: 70%;
    color: #9da0a7;
    margin: 0;
}
main>.card hr{
    margin: 20px 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
main> .card .media{
    background-color: #e6686a;
    text-align: center;
}
main> .card .media>a{
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
main> .card .media>a:hover{
    background: #cf5d5f;
}
main>.card svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.down-wrapper{
    text-align: center;
}
.down-wrapper a{
    display: inline-block;
    padding: 20px 55px;
    border: 1px solid #cdcfd1;
    border-radius: 4px;
    background: #efefef;
    color: #3d4451;
    font-weight: 900;
    margin: 16px 0;
    transition: box-shadow 0.2s;
}
.down-wrapper a:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.text-two{
    font-family: cursive;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 20px;
}
section.skill{
    max-width: 930px;
    margin: auto;

}
section h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 900;
}
.skill ol{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
.skill ol li{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
}
.skill ol li:nth-child(even){
    float: right;
}
.skill h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    font-weight: normal;
}
.skill .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 3px;
    margin-bottom: 40px;
}
.skill .progress{
    width: 50%;
    height: 100%;
    background: #E6686A;
    border-radius: 3px;
}
.portfolio{
    text-align: center;
    max-width: 930px;
    margin:60px auto 200px;
}
.portfolio>nav{
    display: inline-block;
    vertical-align: top;
}
.portfolio>nav li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.portfolio>nav li:first-child{
    margin: 0;
}
.portfolio>nav .bar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}
.portfolio > nav .bar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 40px;
}
.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 63px;
    width: 50px;
}
.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 95px;
}
.jobs{
    position: relative;
}
.big,.small{
    position: absolute;
}