body { background: #efefef; margin: 0; }
a { color: inherit; text-decoration: none; }
* { margin: 0; padding: 0; }
hr { height: 0; border: none; border-top: 1px solid #dedede; }
ul, ol { list-style: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
.clearfix::after { content: ''; display: block; clear: both; }

[data-x].active{
    outline: 10px solid red;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.loading{ width: 200px; height: 200px; position: relative; }
.loading::before,.loading::after{ content: ''; position: absolute; width: 0px; height: 0px; background: black; border-radius: 50%; top: 0; left: 0; bottom: 0; right: 0; margin: auto; animation: s 1.5s linear infinite; }
.loading::after{ animation-delay: 0.75s; }
@keyframes s{
    0%{ width: 0px; height: 0px; opacity: 1; }
    100%{ width: 100px; height: 100px; opacity: 0; }
}
.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
.site-welcome{ display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #888; z-index: 1; justify-content: center; align-items: center; }
.site-welcome.active{ display: flex; }
.topNavBar { padding: 20px 0; position: fixed; top: 0; left: 0; width: 100%;
    transition: all 0.5s; color: #b7b7b7;
}
.topNavBar.sticky{background: white;padding: 10px 0; z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);color: #3d4451;
}
.topNavBar-inner { padding: 0 16px; }
.topNavBar nav { padding-top: 5px; }
.topNavBar nav > ul { list-style: none; margin: 0; padding: 0; }
.topNavBar nav > ul > li { float: left; margin-left: 17px; margin-right: 17px; position: relative;}
.topNavBar nav > ul > li > a { font-size: 12px; color: inherit; font-weight: bold; border-top: 3px solid transparent; border-bottom: 3px solid transparent;
    padding-top: 5px; padding-bottom: 5px; display: block; position: relative;}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
}
@keyframes menuSlide{
    0%{ width: 0; }
    100%{ width: 100%; }
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active> .submenu{
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 10px;
}

.topNavBar .logo { font-size: 24px; font-family: 'Arial Black'; padding-top: 3px; padding-bottom: 4px; }
.topNavBar .logo .rs { margin-right: 4px; color: #e6686a; }
.topNavBar .logo .card { color: #9a9da2; }
.banner { height: 515px; background-image: url(img/banner-img.jpg); background-position: center center; background-size: cover; }
.banner .mask { height: 515px; background-color: rgba(0, 0, 0, 0.8); }

.userCard { max-width: 940px; margin-left: auto; margin-right: auto; background-color: #ffffff; box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5); }
.userCard .welcome { background: #e6686a; color: white; display: inline-block; padding: 4px 16px;
    line-height: 22px; position: relative; margin-bottom: 10px; }
.userCard .welcome .triangle { display: block; border: 10px solid transparent; width: 0px; border-left-color: #e6686a;
    border-top-width: 0px; position: absolute; left: 4px; top: 100%; }
.userCard .picture { float: left; }
.userCard .text { float: left; margin-left: 65px; width: 470px; }
.userCard .text h1 { margin-top: 18px; }
.userCard .text hr { margin: 20px 0; }
.userCard .pictureAndText { padding: 50px; }
.userCard dl dt, .userCard dl dd { float: left; padding: 5px 0; }
.userCard dl dt { width: 30%; font-weight: bold; }
.userCard dl dd { width: 70%; color: #9da0a7; }

.userCard > footer.media { background: #e6686a; text-align: center; }
.userCard > footer.media > a { display: inline-block; width: 40px; line-height: 30px; padding: 5px 0;
    border-radius: 50%; margin: 16px; }
.userCard > footer.media > a:hover { background: #cf5d5f; }
.userCard svg { width: 30px; height: 30px; fill: white; vertical-align: top; }
body > main { margin-top: -340px; }
body > main .downloadResume-wrapper { text-align: center; }
body > main .downloadResume { font-size: 14px; line-height: 16px; padding: 21px 55px; border: 1px solid #cdcfd1; background: #efefef;
    display: inline-block; border-radius: 2px; color: #3d4451; font-weight: bold; margin: 32px 0; transition: box-shadow 0.2s; }

body > main .downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction { max-width: 940px; margin-left: auto; margin-right: auto; text-align: center; font-family: kai; line-height: 1.8; font-size: 18px; }

section.skills,
section.portfolio{ max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills > h2 ,
section.portfolio > h2 { text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; }
section.skills h3 { font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills > ol { background: white; box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5); padding: 42px 50px 10px; margin-top: 30px; }
section.skills > ol > li { float: left; width: 48%; box-sizing: border-box; }
section.skills > ol > li:nth-child(even) { float: right; }
section.skills .progressBar { height: 5px; background: #FAE1E1;
    border-radius: 2px; margin: 4px 0 40px; overflow: hidden; }
section.skills .progressBar > .progress { height: 100%; background: #E6686A;
    width: 70%; border-radius: 2px; transform: translateX(0); transition: all 1s; }
section.skills.offset .progress{
    transform: translateX(-100%);
}

section.portfolio { text-align: center; margin-bottom: 100px; }
section.portfolio > h2{margin-bottom: 60px}

section.portfolio .swiper-container { width: 668px; height: 501px; }
section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next{
    background-color: white;
    width: 64px;
    height: 64px;
    right: 100%;
    left: auto;
    border-radius: 50%;
}
section.portfolio .swiper-button-next{ left: 100%;right: auto; }
.leave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.leave h2{
    margin-bottom: 60px;
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.inputBox{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 210px;
    margin-top: 60px;
    margin-bottom: 150px;
}
#message{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
#messageList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#messageList>li{
    width: 400px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #b7b7b7;
}

