*{padding: 0;margin: 0;}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.window{
    width: 330px;
    height: 412px;
    border: 10px solid #b7b7b7;
    border-radius: 6px;
    overflow: hidden;
}
.imgBox{
    position: relative;
}
.imgBox>img{
    width: 100%;
    transition: all .3s;
    position: absolute;
    top: 0;
}
.imgBox>img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.imgBox>img.leave{
    transform: translateX(-100%);
}
.imgBox>img.enter{
    transform: translateX(100%);
}